@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;700&display=swap');


body {
    background: #131B25;
    margin: 0;
    height: 120vh;
    font-family: 'Urbanist', sans-serif;
    color: white;
    overflow-x: hidden;
}

body.freeze {
    overflow-y: hidden;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    background-color: #131B25;


    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .imageLogo {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .logotext {
        color: white;
        text-decoration: none;
        font-family: 'Urbanist', sans-serif;
        font-weight: bold;
        font-size: 0.9em;
        margin-left: 10%;
        width: 100px;
    }

    nav {
        display: none;
        width: 66%;
        right: 0;
        top: 0;
        background-color: #91C2D2;
        position: fixed;
        z-index: 999;
        height: 100vh;
        padding: 1em;

        ul {
            // display: none;
            list-style-type: none;
            margin-top: 8em;
            padding-left: 0.2em;

            a {
                text-decoration: none;
                color: #131B25;
                display: block;
                margin: 2em;
                margin-top: 15vh;
                font-size: 1.3em;
                text-align: center;

                &:hover {
                   font-weight: bold;
                }
            }
        }

        .menu-close {
            height: 40px;
            width: 40px;
            z-index: 9999;
            float: right;
            cursor: pointer;
            margin-top: 5%;

            
        }
    }

    nav.block {
        display: block;
    }
    
    .menu {
        height: 35px;
        width: 35px;
        cursor: pointer;
    }
}

#projects{
    font-weight: bold;
}

//Main content
.main-content {
    .backward-navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 2%;
        margin-top: -2%;

        #back {
            color: white;
            text-decoration: none;
            margin-top: -1.5%;
        }

        img {
            height: 40px;
            width: 40px;
        }
    }

    video {
        width: 100%;
        height: auto;
   }

   .game-information {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        background-color: #DAD9D5;
        margin-top: -5%;

        img {
            margin-top: 30%;
            justify-self: center;
            align-self: center;
        }

        #computer {
            width: 40px;
            height: 40px;
        }

        #game {
            width: 40px;
            height: 40px;
        }

        #create {
            width: 40px;
            height: 40px;
        }

        h6 {
            justify-self: center;
            align-self: center;
            color: black;
            font-weight: lighter;
            text-align: center;
        }
   }

    .game-overview {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #DBDBDB;
        margin-top: -1%;
        overflow-x: hidden;

        h2 {
            font-size: 2em;
            color: black;
            font-weight: bold;
        }

        p {
            margin-left: auto;
            margin-right: auto;
            color: black;
            line-height: 300%;
            font-weight: lighter;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }



        #portal-gate {
            width: 200px;
            height: 200px;
            margin-top: -10%;
        }

        .overview-one {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5%;

            video {
                width: 80%;
            }

            h4 {
                color: black;
            }
        }

        .overview-two {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10%;

            video {
                width: 80%;
            }

            h4 {
                color: black;
            }
        }


        .overview-three {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10%;

            video {
                width: 80%;
            }

            h4 {
                color: black;
            }
        }

        .overview-four {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .overview-four-one, .overview-four-two {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 10%;

                video {
                    width: 80%;
                }

                h4 {
                    color: black;
                }
            }
        }

        #pulse-on-stone {
            width: 150px;
            height: 150px;
            margin-top: 10%;
            margin-bottom: 10%;
        }
   }

    .development {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #DAD9D5;
        margin-top: -1%;

        h2 {
            font-size: 2em;
            color: black;
            font-weight: bold; 
        }

        p {
            margin-left: auto;
            margin-right: auto;
            color: black;
            line-height: 300%;
            font-weight: lighter;
            margin-left: auto;
            margin-right: auto;
            width: 90%;

            .to-bold {
                font-weight: bold;
            }
        }

        #sprints {
            width: 80%;
            height: auto;
        }

        .tech-stack {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-top: 5%;
            margin-bottom: 5%;
            
            img {
                margin: auto 5% auto 5%;
                width: 40px;
                height: 40px;
            }
        }

        a {
            .buttonOne {
                text-decoration: none;
                color: white;

                margin: 10%;
                margin-left: 0;
                margin-bottom: 40%;
                background-color: #131B25;
                border-radius: 20px;
                font-family: 'Urbanist', sans-serif;
                font-weight: bold;
                font-size: 1.1em;
                padding: 0.75em;
                border: 2px solid #131B25;
                width: 130px;
                transition: all .5s ease;
                cursor: pointer;
            }

            .buttonOne:hover {
                background-color: #91C2D2;
                border: 2px solid #91C2D2;
                // color: #131B25;
            }
        }
   }

    #link-to-game {
        text-decoration: none;

        .play-game {
            background-image: url("../assets/space-background.png");
            height: 20vw;
            width: 100%;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                text-align: center;
                font-size: 1.5em;
                text-decoration: none;
                color: white;
            } 
        }
    }
}

//Footer
.footer {
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-left: 2%;
        height: 10vh;

        
        .copyright {
            margin: 2% 2% 0% 2%;
        }

        p {
            margin-top: 4.25%;
            font-size: 0.7em;
            width: 120%;
        }

        .email {
            height: 8vw;
            width: 8vw;
            margin-top: 1vw;
            margin-left: -20vw;
        }

        .linkedin {
            height: 6.5vw;
            width: 6.5vw;
            margin-left: -5vw;
            margin-right: 5vw;
        }
    }
}

//Responsive CSS
@media only screen and (max-width: 322px) {

    .main-content {
        .game-information {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 50% 50%;
            background-color: #DAD9D5;
            margin-top: -5%;

            img {
                margin-top: 30%;
                justify-self: center;
                align-self: center;
            }

            #computer {
                width: 30px;
                height: 30px;
            }

            #game {
                width: 30px;
                height: 30px;
            }

            #create {
                width: 30px;
                height: 30px;
            }

            h6 {
                justify-self: center;
                align-self: center;
                color: black;
                font-weight: lighter;
                text-align: center;
            }
        }

        .game-overview {
            #overview-title {
                font-size: 1.5em;
            }

            #portal-gate {
                width: 150px;
                height: 150px;
            }

            .overview-one {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 10%;
    
                video {
                    width: 80%;
                }
    
                h4 {
                    color: black;
                    text-align: center;
                    font-size: 0.8em;
                }
            }

            .overview-two {
                h4 {
                    text-align: center;
                    font-size: 0.8em;
                }
            }

            .overview-three {
                h4 {
                    text-align: center;
                    font-size: 0.8em;
                }
            }

            .overview-four {
                .overview-four-one {
                    h4 {
                        text-align: center;
                        font-size: 0.8em;
                    }
                }

                .overview-four-two {
                    h4 {
                        text-align: center;
                        font-size: 0.8em;
                    }
                }
            }

            #pulse-on-stone {
                width: 100px;
                height: 100px;
            }
        }

        .development {
            h2 {
                font-size: 1.5em;
            }

            .tech-stack {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 5%;
                margin-bottom: 5%;
                
                img {
                    margin: auto 5% auto 5%;
                    width: 30px;
                    height: 30px;
                }
            }
        }

        #link-to-game {
            text-decoration: none;
    
            .play-game {
                background-image: url("../assets/space-background.svg");
                height: 30vw;
                width: 100%;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                h3 {
                    text-align: center;
                    font-size: 1em;
                    text-decoration: none;
                    color: white;
                } 
            }
        }

    }

    .footer {
        footer p {
            font-size: 0.6em;
            margin-left: -4%;
            margin-top: 5%;
        }

        .copyright {
            width: 15%;
            height: 15%;
        }

        footer {
            .email {
                height: 8vw;
                width: 8vw;
                margin-top: 1vw;
                margin-left: -17.5vw;

            }
        }
    }
    
}



@media only screen and (min-width: 450px) {
    .main-content {
        //TODO
    }

    //Footer
    .footer {
        footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            margin-left: 2%;
            height: 10vh;
    
            
            .copyright {
                margin: 2% 2% 0% 2%;
            }
    
            p {
                margin-top: 4.25%;
                font-size: 0.7em;
                width: 120%;
            }
    
            .email {
                height: 6vw;
                width: 6vw;
                margin-top: 1vw;
                margin-left: -15vw;
            }
    
            .linkedin {
                height: 4.5vw;
                width: 4.5vw;
                margin-left: -5vw;
                margin-right: 5vw;
            }
        }
    }
}

@media only screen and (min-width: 550px) {
    //Main content
    .main-content {
        .development {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #DAD9D5;
            margin-top: -1%;
    
            h2 {
                font-size: 2em;
                color: black;
                font-weight: bold; 
            }
    
            p {
                margin-left: auto;
                margin-right: auto;
                color: black;
                line-height: 300%;
                font-weight: lighter;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
    
                .to-bold {
                    font-weight: bold;
                }
            }
    
            #sprints {
                width: 80%;
                height: auto;
            }
    
            .tech-stack {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 5%;
                margin-bottom: 5%;
                
                img {
                    margin: auto 8% auto 8%;
                    width: 50px;
                    height: 50px;
                }
            }
    
            a {
                .buttonOne {
                    text-decoration: none;
                    color: white;
    
                    margin: 10%;
                    margin-left: 0;
                    margin-bottom: 40%;
                    background-color: #131B25;
                    border-radius: 20px;
                    font-family: 'Urbanist', sans-serif;
                    font-weight: bold;
                    font-size: 1.1em;
                    padding: 0.75em;
                    border: 2px solid #131B25;
                    width: 130px;
                    transition: all .5s ease;
                    cursor: pointer;
                }
    
                .buttonOne:hover {
                    background-color: #91C2D2;
                    border: 2px solid #91C2D2;
                    // color: #131B25;
                }
            }
       }

    }
}


//Responsive CSS
@media only screen and (min-width: 700px) {

    body {
        height: 100vh;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    //Navigation
    .menu, .menu-close {
        display: none;
    }



    header .logo {
        z-index: 9999;
    }


    header nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        background: none;
        position: unset;
        height: 50px;
        padding: 0em;
        margin-left: -500px;

        ul {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 100%;
            margin-top: auto;
            padding-left: 0.2em;

            .about {
                grid-column: 1/2;
                justify-self: center;
                align-self: center;
            }

            .projects {
                grid-column: 2/3;
                justify-self: center;
                align-self: center;
                margin-left: -7%;
            }

            .experience {
                grid-column: 3/4;
                justify-self: center;
                align-self: center;
                margin-left: -12%;
            }

            .achievements {
                grid-column: 4/5;
                justify-self: center;
                align-self: center;
            }

            //Others
            .hover-underline-animation {
                position: relative;
                color: white;
                text-decoration: none;
            }

            .hover-underline-animation::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 5px;
                bottom: 0;
                left: 0;
                top: 25px;
                background-color: white;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
                transform: scaleX(0);
            }

            .hover-underline-animation:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            //About
            .hover-underline-animation-projects {
                position: relative;
                color: #91C2D2;
                text-decoration: none;
            }

            .hover-underline-animation-projects::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 5px;
                bottom: 0;
                left: 0;
                top: 25px;
                background-color: #91C2D2;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
                transform: scaleX(0);
            }

            .hover-underline-animation-projects:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            //Achievements
            .hover-underline-animation-achievements {
                position: relative;
                color: white;
                text-decoration: none;
            }

            .hover-underline-animation-achievements::after {
                content: '';
                position: absolute;
                width: 135%;
                height: 5px;
                bottom: 0;
                left: 0;
                top: 25px;
                background-color: white;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
                transform: scaleX(0);
            }

            .hover-underline-animation-achievements:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            a {
                font-weight: bold;
                color: white;
                display: block;
                margin: auto;
                margin-right: 2em;
                font-size: 1em;
                text-align: center;

                &:hover {
                   font-weight: bold;
                }
            }
        }
    }

   
    #projects {
        color: #91C2D2;
    }

    .main-content {
        .backward-navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-left: 2%;
            margin-top: -2%;
    
            #back {
                color: white;
                text-decoration: none;
                margin-top: -1%;
            }
    
            img {
                height: 40px;
                width: 40px;
            }

        }
    }
    //Footer
    .footer {
        footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 10px;
            margin-left: 2%;
            height: 8vh;
            
            position: relative;



            
            .copyright {
                margin: 2% 2% 0% 2%;
            }

            p {
                margin-top: 3.5%;
                font-size: 1em;
                width: 160vw;
                margin-left: -1%;
            }

            .email {
                height: 4vw;
                width: 4vw;
                margin-top: 1vw;
                margin-left: -20vw;
            }
    
            .linkedin {
                height: 3.5vw;
                width: 3.5vw;
                margin-left: -10vw;
                margin-right: 5vw;
            }
        }
    }
}

//Responsive CSS
@media only screen and (min-width: 900px) {

    #projects {
        color: #91C2D2;
    }

    .main-content {
        .game-information {
            h6 {
                justify-self: center;
                align-self: center;
                color: black;
                font-weight: lighter;
                text-align: center;
                font-size: 0.8em;
            }
        }

        .development {
            #sprints {
                width: 60%;
                height: auto;
            }
        }
        
    }
    

    //Footer
    .footer {
        footer {
            margin-top: 3%;
            margin-bottom: 1%;

            .copyright {
                margin: 2% 2% 0% 2%;
            }

            p {
                margin-top: 3.6%;
                font-size: 1em;
                width: 160vw;
                margin-left: -1%;
            }

            .email {
                height: 3vw;
                width: 3vw;
                margin-top: 2vw;
                margin-left: -15vw;
            }
    
            .linkedin {
                height: 2.5vw;
                width: 2.5vw;
                margin-left: -8vw;
                margin-right: 5vw;
                margin-top: 1.5vw;
            }
        }
    }
}


//Responsive CSS
@media only screen and (min-width: 1200px) {
    #projects{
        color: #91C2D2;
    }

    .main-content {
        .backward-navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-left: 2%;
            margin-top: -2%;
    
            #back {
                color: white;
                text-decoration: none;
                margin-top: -0.5%;
            }
    
            img {
                height: 40px;
                width: 40px;
            }
        }

        .game-information {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 50% 50%;
            background-color: #DAD9D5;
            margin-top: -5%;
    
            img {
                margin-top: 30%;
                justify-self: center;
                align-self: center;
            }
    
            #computer {
                width: 50px;
                height: 50px;
            }
    
            #game {
                width: 50px;
                height: 50px;
            }
    
            #create {
                width: 50px;
                height: 50px;
            }
    
            h6 {
                justify-self: center;
                align-self: center;
                color: black;
                font-weight: lighter;
                text-align: center;
                font-size: 1em;
            }
       }
    
        .game-overview {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #DBDBDB;
            margin-top: -1%;
            overflow-x: hidden;
    
            h2 {
                font-size: 2.5em;
                color: black;
                font-weight: bold;
            }
    
            p {
                margin-left: auto;
                margin-right: auto;
                color: black;
                line-height: 300%;
                font-weight: lighter;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
            }
    
    
    
            #portal-gate {
                width: 200px;
                height: 200px;
                margin-top: -10%;
            }
    
            .overview-one {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
    
                video {
                    width: 60%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
            .overview-two {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 10%;
    
                video {
                    width: 60%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
    
            .overview-three {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 10%;
    
                video {
                    width: 60%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
            .overview-four {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                .overview-four-one, .overview-four-two {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10%;
    
                    video {
                        width: 60%;
                    }
    
                    h4 {
                        color: black;
                        font-size: 1.25em;
                    }
                }
            }
    
            #pulse-on-stone {
                width: 150px;
                height: 150px;
                margin-top: 10%;
                margin-bottom: 10%;
            }

       }

        .development {
            .tech-stack {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 5%;
                margin-bottom: 5%;
                
                img {
                    margin: auto 20% auto 20%;
                    width: 50px;
                    height: 50px;
                }
            }

            a {
                .buttonOne {
                    text-decoration: none;
                    color: white;
    
                    margin: 10%;
                    margin-left: 0;
                    margin-bottom: 40%;
                    margin-top: 20%;
                    background-color: #131B25;
                    border-radius: 20px;
                    font-family: 'Urbanist', sans-serif;
                    font-weight: bold;
                    font-size: 1.1em;
                    padding: 0.75em;
                    border: 2px solid #131B25;
                    width: 130px;
                    transition: all .5s ease;
                    cursor: pointer;
                }
    
                .buttonOne:hover {
                    background-color: #91C2D2;
                    border: 2px solid #91C2D2;
                    // color: #131B25;
                }
            }
        }

        #link-to-game {
            text-decoration: none;
    
            .play-game {
                background-image: url("../assets/space-background.png");
                height: 15vw;
                width: 100%;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                h3 {
                    text-align: center;
                    font-size: 2em;
                    text-decoration: none;
                    color: white;
                } 
            }
        }
    }
}

//Responsive CSS
@media only screen and (min-width: 1300px) {

    #projects {
        color: #91C2D2;
    }



    .main-content {
       
    }
}

//Responsive CSS
@media only screen and (min-width: 1500px) {

    #projects {
        color: #91C2D2;
    }

    .main-content {
        .backward-navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-left: 2%;
            margin-top: -1%;
    
            #back {
                color: white;
                text-decoration: none;
                margin-top: -0.4%;
            }
    
            img {
                height: 40px;
                width: 40px;
            }
        }

        .game-information {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 50% 50%;
            background-color: #DAD9D5;
            margin-top: -5%;
    
            img {
                margin-top: 30%;
                justify-self: center;
                align-self: center;
            }
    
            #computer {
                width: 50px;
                height: 50px;
            }
    
            #game {
                width: 50px;
                height: 50px;
            }
    
            #create {
                width: 50px;
                height: 50px;
            }
    
            h6 {
                justify-self: center;
                align-self: center;
                color: black;
                font-weight: lighter;
                text-align: center;
                font-size: 1em;
            }
       }
    
        .game-overview {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #DBDBDB;
            margin-top: -1%;
            overflow-x: hidden;
    
            h2 {
                font-size: 2.5em;
                color: black;
                font-weight: bold;
                margin-top: 5%;
            }
    
            p {
                margin-left: auto;
                margin-right: auto;
                color: black;
                line-height: 300%;
                font-weight: lighter;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
                text-align: center;
                font-size: 1.25em;
            }
    
    
    
            #portal-gate {
                width: 200px;
                height: 200px;
                margin-top: -10%;
            }
    
            .overview-one {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 2%;
    
                video {
                    width: 50%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
            .overview-two {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
    
                video {
                    width: 50%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
    
            .overview-three {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
    
                video {
                    width: 50%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
            .overview-four {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                .overview-four-one, .overview-four-two {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 5%;
    
                    video {
                        width: 50%;
                    }
    
                    h4 {
                        color: black;
                        font-size: 1.25em;
                    }
                }
            }
    
            #pulse-on-stone {
                width: 200px;
                height: 200px;
                margin-top: 5%;
                margin-bottom: 10%;
            }

       }

        .development {

            p {
                margin-left: auto;
                margin-right: auto;
                width: 70%;
                font-size: 1.25em;
            }

            #sprints {
                width: 40%;
                height: auto;

            }

            .tech-stack {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 5%;
                margin-bottom: 5%;
                
                img {
                    margin: auto 20% auto 20%;
                    width: 50px;
                    height: 50px;
                }
            }

            a {
                .buttonOne {
                    text-decoration: none;
                    color: white;
    
                    margin: 10%;
                    margin-left: 0;
                    margin-bottom: 40%;
                    margin-top: 20%;
                    background-color: #131B25;
                    border-radius: 20px;
                    font-family: 'Urbanist', sans-serif;
                    font-weight: bold;
                    font-size: 1.1em;
                    padding: 0.75em;
                    border: 2px solid #131B25;
                    width: 130px;
                    transition: all .5s ease;
                    cursor: pointer;
                }
    
                .buttonOne:hover {
                    background-color: #91C2D2;
                    border: 2px solid #91C2D2;
                    // color: #131B25;
                }
            }
        }

        #link-to-game {
            text-decoration: none;
    
            .play-game {
                background-image: url("../assets/space-background.png");
                height: 15vw;
                width: 100%;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                h3 {
                    text-align: center;
                    font-size: 2em;
                    text-decoration: none;
                    color: white;
                } 
            }
        }
    }

    //Footer
    .footer {
        footer {
            margin-bottom: 1%;
            .copyright {
                margin: 2% 2% 0% 2%;
            }

            p {
                margin-top: 2.8%;
                font-size: 1em;
                width: 160vw;
                margin-left: -1%;
            }

            .email {
                height: 2vw;
                width: 2vw;
                margin-top: 2vw;
                margin-left: -10vw;
            }
    
            .linkedin {
                height: 1.5vw;
                width: 1.5vw;
                margin-left: -5vw;
                margin-right: 5vw;
                margin-top: 1.6vw;
            }
        }
    }
}

//Responsive CSS
@media only screen and (min-width: 2000px) {

    #projects {
        color: #91C2D2;
    }

    .main-content {
        .backward-navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-left: 2%;
            margin-top: 0%;
    
            #back {
                color: white;
                text-decoration: none;
                margin-top: -0.2%;
                font-size: 1.5em;
            }
    
            img {
                height: 50px;
                width: 50px;
            }
        }

        .game-information {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 50% 50%;
            background-color: #DAD9D5;
            margin-top: -5%;
    
            img {
                margin-top: 30%;
                justify-self: center;
                align-self: center;
            }
    
            #computer {
                width: 60px;
                height: 60px;
            }
    
            #game {
                width: 60px;
                height: 60px;
            }
    
            #create {
                width: 60px;
                height: 60px;
            }
    
            h6 {
                justify-self: center;
                align-self: center;
                color: black;
                font-weight: lighter;
                text-align: center;
                font-size: 1.5em;
            }
       }
    
        .game-overview {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #DBDBDB;
            margin-top: -1%;
            overflow-x: hidden;
    
            h2 {
                font-size: 2.5em;
                color: black;
                font-weight: bold;
                margin-top: 5%;
            }
    
            p {
                margin-left: auto;
                margin-right: auto;
                color: black;
                line-height: 300%;
                font-weight: lighter;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
                text-align: center;
                font-size: 1.25em;
            }
    
    
    
            #portal-gate {
                width: 200px;
                height: 200px;
                margin-top: -10%;
            }
    
            .overview-one {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 2%;
    
                video {
                    width: 50%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
            .overview-two {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
    
                video {
                    width: 50%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
    
            .overview-three {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
    
                video {
                    width: 50%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
            .overview-four {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                .overview-four-one, .overview-four-two {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 5%;
    
                    video {
                        width: 50%;
                    }
    
                    h4 {
                        color: black;
                        font-size: 1.25em;
                    }
                }
            }
    
            #pulse-on-stone {
                width: 200px;
                height: 200px;
                margin-top: 5%;
                margin-bottom: 10%;
            }

       }

        .development {

            p {
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                font-size: 1.25em;
            }

            #sprints {
                width: 40%;
                height: auto;

            }

            .tech-stack {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 5%;
                margin-bottom: 5%;
                
                img {
                    margin: auto 20% auto 20%;
                    width: 50px;
                    height: 50px;
                }
            }

            a {
                .buttonOne {
                    text-decoration: none;
                    color: white;
    
                    margin: 10%;
                    margin-left: 0;
                    margin-bottom: 40%;
                    margin-top: 20%;
                    background-color: #131B25;
                    border-radius: 20px;
                    font-family: 'Urbanist', sans-serif;
                    font-weight: bold;
                    font-size: 1.1em;
                    padding: 0.75em;
                    border: 2px solid #131B25;
                    width: 130px;
                    transition: all .5s ease;
                    cursor: pointer;
                }
    
                .buttonOne:hover {
                    background-color: #91C2D2;
                    border: 2px solid #91C2D2;
                    // color: #131B25;
                }
            }
        }

        #link-to-game {
            text-decoration: none;
    
            .play-game {
                background-image: url("../assets/space-background.png");
                height: 15vw;
                width: 100%;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                h3 {
                    text-align: center;
                    font-size: 2.5em;
                    text-decoration: none;
                    color: white;
                } 
            }
        }
    }


    //Footer
    .footer {
        footer {
            margin-bottom: 1%;
            .copyright {
                margin: 2% 2% 0% 2%;
            }

            p {
                margin-top: 2.8%;
                font-size: 1em;
                width: 160vw;
                margin-left: -1%;
            }

            .email {
                height: 2vw;
                width: 2vw;
                margin-top: 2vw;
                margin-left: -10vw;
            }
    
            .linkedin {
                height: 1.5vw;
                width: 1.5vw;
                margin-left: -5vw;
                margin-right: 5vw;
                margin-top: 1.6vw;
            }
        }
    }
}

//Responsive CSS
@media only screen and (min-width: 3000px) {

    #projects {
        color: #91C2D2;
    }

    .main-content {
        .backward-navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-left: 2%;
            margin-top: 0%;
    
            #back {
                color: white;
                text-decoration: none;
                margin-top: -0.2%;
                font-size: 1.5em;
            }
    
            img {
                height: 60px;
                width: 60px;
            }
        }

        .game-information {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 50% 50%;
            background-color: #DAD9D5;
            margin-top: -5%;
    
            img {
                margin-top: 30%;
                justify-self: center;
                align-self: center;
            }
    
            #computer {
                width: 70px;
                height: 70px;
            }
    
            #game {
                width: 70px;
                height: 70px;
            }
    
            #create {
                width: 70px;
                height: 70px;
            }
    
            h6 {
                justify-self: center;
                align-self: center;
                color: black;
                font-weight: lighter;
                text-align: center;
                font-size: 1.5em;
            }
       }
    
        .game-overview {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #DBDBDB;
            margin-top: -1%;
            overflow-x: hidden;
    
            h2 {
                font-size: 2.5em;
                color: black;
                font-weight: bold;
                margin-top: 5%;
            }
    
            p {
                margin-left: auto;
                margin-right: auto;
                color: black;
                line-height: 300%;
                font-weight: lighter;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
                text-align: center;
                font-size: 1.25em;
            }
    
    
    
            #portal-gate {
                width: 200px;
                height: 200px;
                margin-top: -10%;
            }
    
            .overview-one {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 2%;
    
                video {
                    width: 50%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
            .overview-two {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
    
                video {
                    width: 50%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
    
            .overview-three {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
    
                video {
                    width: 50%;
                }
    
                h4 {
                    color: black;
                    font-size: 1.25em;
                }
            }
    
            .overview-four {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                .overview-four-one, .overview-four-two {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 5%;
    
                    video {
                        width: 50%;
                    }
    
                    h4 {
                        color: black;
                        font-size: 1.25em;
                    }
                }
            }
    
            #pulse-on-stone {
                width: 200px;
                height: 200px;
                margin-top: 5%;
                margin-bottom: 10%;
            }

       }

        .development {

            p {
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                font-size: 1.25em;
            }

            #sprints {
                width: 40%;
                height: auto;

            }

            .tech-stack {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-top: 5%;
                margin-bottom: 5%;
                
                img {
                    margin: auto 20% auto 20%;
                    width: 50px;
                    height: 50px;
                }
            }

            a {
                .buttonOne {
                    text-decoration: none;
                    color: white;
    
                    margin: 10%;
                    margin-left: 0;
                    margin-bottom: 40%;
                    margin-top: 20%;
                    background-color: #131B25;
                    border-radius: 20px;
                    font-family: 'Urbanist', sans-serif;
                    font-weight: bold;
                    font-size: 1.1em;
                    padding: 0.75em;
                    border: 2px solid #131B25;
                    width: 130px;
                    transition: all .5s ease;
                    cursor: pointer;
                }
    
                .buttonOne:hover {
                    background-color: #91C2D2;
                    border: 2px solid #91C2D2;
                    // color: #131B25;
                }
            }
        }

        #link-to-game {
            text-decoration: none;
    
            .play-game {
                background-image: url("../assets/space-background.png");
                height: 15vw;
                width: 100%;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                h3 {
                    text-align: center;
                    font-size: 3em;
                    text-decoration: none;
                    color: white;
                } 
            }
        }
    }



    //Footer
    .footer {
        footer {
            margin-bottom: 1%;
            .copyright {
                margin: 2% 2% 0% 2%;
            }

            p {
                margin-top: 2.6%;
                font-size: 1.25em;
                width: 160vw;
                margin-left: -1%;
            }

            .email {
                height: 2vw;
                width: 2vw;
                margin-top: 2vw;
                margin-left: -7vw;
            }
    
            .linkedin {
                height: 1.5vw;
                width: 1.5vw;
                margin-left: -3vw;
                margin-right: 5vw;
                margin-top: 1.6vw;
            }
        }
    }
}



