@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;700&display=swap');


body {
    background: #131B25;
    margin: 0;
    height: 120vh;
    font-family: 'Urbanist', sans-serif;
    color: white;
}

body.freeze {
    overflow-y: hidden;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    background-color: #131B25;


    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .imageLogo {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .logotext {
        color: white;
        text-decoration: none;
        font-family: 'Urbanist', sans-serif;
        font-weight: bold;
        font-size: 0.9em;
        margin-left: 10%;
        width: 100px;
    }

    nav {
        display: none;
        width: 66%;
        right: 0;
        top: 0;
        background-color: #91C2D2;
        position: fixed;
        z-index: 999;
        height: 100vh;
        padding: 1em;

        ul {
            // display: none;
            list-style-type: none;
            margin-top: 8em;
            padding-left: 0.2em;

            a {
                text-decoration: none;
                color: #131B25;
                display: block;
                margin: 2em;
                margin-top: 15vh;
                font-size: 1.3em;
                text-align: center;

                &:hover {
                   font-weight: bold;
                }
            }
        }

        .menu-close {
            height: 40px;
            width: 40px;
            z-index: 9999;
            float: right;
            cursor: pointer;
            margin-top: 5%;

            
        }
    }

    nav.block {
        display: block;
    }
    
    .menu {
        height: 35px;
        width: 35px;
        cursor: pointer;
    }
}

#about-me {
    font-weight: bold;
}

//Main content
.main-content {
    .introduction {
        h2 {
            font-size: 8vw;
            padding: 1em;
            margin-top: 0;

            .highlighted {
                padding-bottom: 10px;
                border-bottom-style: solid;
                border-bottom-width: 7px;
                border-bottom-color: #91C2D2;
                }
        }

        .introduction-content {
            padding: 1em;
            p {
                padding: 1em;
                margin-top: -10vw;
                line-height: 300%;
                font-weight: lighter;
            }

            img {
                height: 150px;
                width: 150px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

        }
    }

    .tech-skills {
        h2 {
            font-size: 8vw;
            padding: 1em;
            margin-top: 0;

            .highlighted {
                padding-bottom: 10px;
                border-bottom-style: solid;
                border-bottom-width: 7px;
                border-bottom-color: #91C2D2;
                }
        }

        .blue-alien {
            height: 15%;
            width: 15%;
            margin-left: 85%;
            margin-top: -20%;
        }

        .tech-skills-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .web-development {
                margin-top: -10%;
                margin-bottom: 10%;

                h3 {
                    font-size: 1.25em;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }

                .web-development-content {
                    display: grid;
                    grid-template-columns: 33% 33% 33%;
                    grid-template-rows: 80% 20%;
                    width: 150%;
                    margin-left: -25%;

                    img {
                        height: 50px;
                        width: 50px;
                        justify-self: center;
                        align-self: center;
                    }

                    h5 {
                        justify-self: center;
                        align-self: center;
                    }
                }
            }

            .software-development {
                
                margin-bottom: 10%;

                h3 {
                    font-size: 1.25em;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }

                .software-development-content {
                    display: grid;
                    grid-template-columns: 33% 33% 33%;
                    grid-template-rows: 80% 20%;
                    width: 120%;
                    margin-left: -10%;

                    img {
                        height: 50px;
                        width: 50px;
                        justify-self: center;
                        align-self: center;
                    }

                    h5 {
                        justify-self: center;
                        align-self: center;
                    }
                }
            }

            .game-development {
                
                margin-bottom: 10%;

                h3 {
                    font-size: 1.25em;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }

                .game-development-content {
                    display: grid;
                    grid-template-columns: 33% 33% 33%;
                    grid-template-rows: 80% 20%;
                    width: 120%;
                    margin-left: -10%;

                    img {
                        height: 50px;
                        width: 50px;
                        justify-self: center;
                        align-self: center;
                    }

                    h5 {
                        justify-self: center;
                        align-self: center;
                    }
                }
            }

            .ux-ui {
                
                margin-bottom: 10%;

                h3 {
                    font-size: 1.25em;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                }

                .ux-ui-content {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 80% 20%;
                    width: 200%;
                    margin-left: -50%;

                    img {
                        height: 50px;
                        width: 50px;
                        justify-self: center;
                        align-self: center;
                    }

                    h5 {
                        justify-self: center;
                        align-self: center;
                    }
                }
            }

        }

        .purple-alien {
            height: 15%;
            width: 15%;
            margin-left: 0;
            margin-top: -10%;
        }
    }
}

//Footer
.footer {
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-left: 2%;
        height: 10vh;

        
        .copyright {
            margin: 2% 2% 0% 2%;
        }

        p {
            margin-top: 4.25%;
            font-size: 0.7em;
            width: 120%;
        }

        .email {
            height: 8vw;
            width: 8vw;
            margin-top: 1vw;
            margin-left: -20vw;
        }

        .linkedin {
            height: 6.5vw;
            width: 6.5vw;
            margin-left: -5vw;
            margin-right: 5vw;
        }
    }
}

//Responsive CSS
@media only screen and (max-width: 322px) {

    .main-content {
        .introduction {
            .introduction-content {
                p {
                    padding: 0.5em; 
                }
            }
        }
    }
    .footer {
        footer p {
            font-size: 0.6em;
            margin-left: -4%;
            margin-top: 5%;
        }

        .copyright {
            width: 15%;
            height: 15%;
        }

        footer {
            .email {
                height: 8vw;
                width: 8vw;
                margin-top: 1vw;
                margin-left: -17.5vw;

            }
        }
    }
}



@media only screen and (min-width: 450px) {
    .main-content {
        .introduction {
            .introduction-content {
                p {
                    padding: 5%;
                    margin-top: -15%;
                }

                img {
                    margin-top: 0%;
                }
            }
        }
    }

    //Footer
    .footer {
        footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            margin-left: 2%;
            height: 10vh;
    
            
            .copyright {
                margin: 2% 2% 0% 2%;
            }
    
            p {
                margin-top: 4.25%;
                font-size: 0.7em;
                width: 120%;
            }
    
            .email {
                height: 6vw;
                width: 6vw;
                margin-top: 1vw;
                margin-left: -15vw;
            }
    
            .linkedin {
                height: 4.5vw;
                width: 4.5vw;
                margin-left: -5vw;
                margin-right: 5vw;
            }
        }
    }
}


@media only screen and (min-width: 600px) {
    .main-content {
        .introduction {
            .introduction-content {
                p {
                    padding: 6%;
                }
            }
        }
    }
}


//Responsive CSS
@media only screen and (min-width: 700px) {

    body {
        height: 100vh;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    //Navigation
    .menu, .menu-close {
        display: none;
    }



    header .logo {
        z-index: 9999;
    }


    header nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        background: none;
        position: unset;
        height: 50px;
        padding: 0em;
        margin-left: -500px;

        ul {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 100%;
            margin-top: auto;
            padding-left: 0.2em;

            .about {
                grid-column: 1/2;
                justify-self: center;
                align-self: center;
            }

            .projects {
                grid-column: 2/3;
                justify-self: center;
                align-self: center;
                margin-left: -7%;
            }

            .experience {
                grid-column: 3/4;
                justify-self: center;
                align-self: center;
                margin-left: -12%;
            }

            .achievements {
                grid-column: 4/5;
                justify-self: center;
                align-self: center;
            }

            //Others
            .hover-underline-animation {
                position: relative;
                color: white;
                text-decoration: none;
            }

            .hover-underline-animation::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 5px;
                bottom: 0;
                left: 0;
                top: 25px;
                background-color: white;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
                transform: scaleX(0);
            }

            .hover-underline-animation:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            //About
            .hover-underline-animation-about {
                position: relative;
                color: #91C2D2;
                text-decoration: none;
            }

            .hover-underline-animation-about::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 5px;
                bottom: 0;
                left: 0;
                top: 25px;
                background-color: #91C2D2;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
                transform: scaleX(0);
            }

            .hover-underline-animation-about:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            //Achievements
            .hover-underline-animation-achievements {
                position: relative;
                color: white;
                text-decoration: none;
            }

            .hover-underline-animation-achievements::after {
                content: '';
                position: absolute;
                width: 135%;
                height: 5px;
                bottom: 0;
                left: 0;
                top: 25px;
                background-color: white;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
                transform: scaleX(0);
            }

            .hover-underline-animation-achievements:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            a {
                font-weight: bold;
                color: white;
                display: block;
                margin: auto;
                margin-right: 2em;
                font-size: 1em;
                text-align: center;

                &:hover {
                   font-weight: bold;
                }
            }
        }
    }

    #about-me {
        color: #91C2D2;
    }

    .main-content {
        .introduction {
            h2 {
                font-size: 6vw;
            }

            .introduction-content {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                p {
                    padding: 3.8%;
                    margin-top: -10vw;
                    width: 60%;
                }

                img {
                    margin-top: -10vw;
                    height: 200px;
                    width: 200px;
                }
            }
        }

        .tech-skills {
            h2 {
                margin-top: -1%;
                font-size: 6vw;
            }

            .blue-alien {
                height: 10%;
                width: 10%;
                margin-left: 90%;
                margin-top: -20%;

            }

            .tech-skills-content {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: 50% 50%;

                .web-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .web-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .software-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .software-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .game-development {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .game-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .ux-ui {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .ux-ui-content {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 80% 20%;
                        width: 60%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }
            }

            .purple-alien {
                height: 10%;
                width: 10%;
                margin-right: 90%;
                margin-top: 2%;
            }
        }

    }

    //Footer
    .footer {
        footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 10px;
            margin-left: 2%;
            height: 8vh;
            
            position: relative;



            
            .copyright {
                margin: 2% 2% 0% 2%;
            }

            p {
                margin-top: 3.5%;
                font-size: 1em;
                width: 160vw;
                margin-left: -1%;
            }

            .email {
                height: 4vw;
                width: 4vw;
                margin-top: 1vw;
                margin-left: -20vw;
            }
    
            .linkedin {
                height: 3.5vw;
                width: 3.5vw;
                margin-left: -10vw;
                margin-right: 5vw;
            }
        }
    }
}

//Responsive CSS
@media only screen and (min-width: 900px) {

    #about-me {
        color: #91C2D2;
    }

    .main-content {
        .introduction {
            margin-left: 2%;
            h2 {
                font-size: 4vw;
            }

            .introduction-content {
                p {
                    padding: 2.8%;
                    margin-top: -8vw;
                }

                img {
                    height: 200px;
                    width: 200px;
                }
            }
        }

        .tech-skills {
            margin-left: 2%;

            h2 {
                margin-top: 5%;
                font-size: 4vw;
            }

            .blue-alien {
                height: 10%;
                width: 10%;
                margin-left: 90%;
                margin-top: -20%;

            }

            .tech-skills-content {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: 50% 50%;

                .web-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .web-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .software-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .software-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .game-development {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .game-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .ux-ui {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .ux-ui-content {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 80% 20%;
                        width: 60%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }
            }

            .purple-alien {
                height: 10%;
                width: 10%;
                margin-right: 85%;
                margin-top: 2%;
                margin-left: -2%;
            }
        }
    }

    //Footer
    .footer {
        footer {
            margin-top: 3%;
            margin-bottom: 1%;

            .copyright {
                margin: 2% 2% 0% 2%;
            }

            p {
                margin-top: 3.6%;
                font-size: 1em;
                width: 160vw;
                margin-left: -1%;
            }

            .email {
                height: 3vw;
                width: 3vw;
                margin-top: 2vw;
                margin-left: -15vw;
            }
    
            .linkedin {
                height: 2.5vw;
                width: 2.5vw;
                margin-left: -8vw;
                margin-right: 5vw;
                margin-top: 1.5vw;
            }
        }
    }
}


//Responsive CSS
@media only screen and (min-width: 1200px) {
    #about-me {
        color: #91C2D2;
    }

    .main-content {
        .introduction {
            margin-left: 2%;
            h2 {
                font-size: 4vw;
            }

            .introduction-content {
                p {
                    padding: 2.8%;
                    margin-top: -8vw;
                }

                img {
                    height: 200px;
                    width: 200px;
                }
            }
        }

        .tech-skills {
            margin-top: -5%;
            margin-left: 2%;

            h2 {
                margin-top: 5%;
                font-size: 4vw;
            }

            .blue-alien {
                height: 8%;
                width: 8%;
                margin-left: 92%;
                margin-top: -20%;

            }

            .tech-skills-content {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: 50% 50%;

                .web-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .web-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .software-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .software-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .game-development {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .game-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .ux-ui {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .ux-ui-content {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 80% 20%;
                        width: 60%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }
            }

            .purple-alien {
                height: 8%;
                width: 8%;
                margin-right: 90%;
                margin-top: 2%;
                margin-left: -2.1%;
            }
        }

    }
}

//Responsive CSS
@media only screen and (min-width: 1300px) {

    #about-me {
        color: #91C2D2;
    }

    .main-content {
        .introduction {
            margin-left: 2%;
            h2 {
                font-size: 3.5vw;
            }

            .introduction-content {
                p {
                    padding: 2.8%;
                    margin-top: -8vw;
                }

                img {
                    height: 200px;
                    width: 200px;
                }
            }
        }

        .tech-skills {
            margin-top: -10%;
            margin-left: 2%;

            h2 {
                margin-top: 5%;
                font-size: 3.5vw;
            }

            .blue-alien {
                height: 7%;
                width: 7%;
                margin-left: 93%;
                margin-top: -20%;

            }

            .tech-skills-content {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: 50% 50%;

                .web-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .web-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .software-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .software-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .game-development {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .game-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .ux-ui {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .ux-ui-content {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 80% 20%;
                        width: 60%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }
            }

            .purple-alien {
                height: 7%;
                width: 7%;
                margin-right: 85%;
                margin-top: 2%;
                margin-left: -2.3%;
            }
        }
    }

    //Footer
    .footer {
        footer {
            margin-bottom: 1%;
            .copyright {
                margin: 2% 2% 0% 2%;
            }

            p {
                margin-top: 3.2%;
                font-size: 1em;
                width: 160vw;
                margin-left: -1%;
            }

            .email {
                height: 2.5vw;
                width: 2.5vw;
                margin-top: 2vw;
                margin-left: -10vw;
            }
    
            .linkedin {
                height: 2vw;
                width: 2vw;
                margin-left: -5vw;
                margin-right: 5vw;
                margin-top: 1.6vw;
            }
        }
    }
}

//Responsive CSS
@media only screen and (min-width: 1500px) {

    #about-me {
        color: #91C2D2;
    }

    .main-content {
        .introduction {
            margin-left: 2%;
            h2 {
                font-size: 3vw;
            }

            .introduction-content {
                p {
                    padding: 2%;
                    margin-top: -6vw;
                }

                img {
                    margin-top: -8%;
                    height: 200px;
                    width: 200px;
                }
            }
        }

        .tech-skills {
            margin-top: -10%;
            margin-left: 2%;

            h2 {
                margin-top: 8%;
                font-size: 3vw;
            }

            .blue-alien {
                height: 6%;
                width: 6%;
                margin-left: 94%;
                margin-top: -20%;

            }

            .tech-skills-content {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: 50% 50%;

                .web-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .web-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .software-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .software-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .game-development {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .game-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .ux-ui {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .ux-ui-content {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 80% 20%;
                        width: 60%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }
            }

            .purple-alien {
                height: 6%;
                width: 6%;
                margin-right: 85%;
                margin-top: 2%;
                margin-left: -2.4%;
            }
        }
    }

    //Footer
    .footer {
        footer {
            margin-bottom: 1%;
            .copyright {
                margin: 2% 2% 0% 2%;
            }

            p {
                margin-top: 2.8%;
                font-size: 1em;
                width: 160vw;
                margin-left: -1%;
            }

            .email {
                height: 2vw;
                width: 2vw;
                margin-top: 2vw;
                margin-left: -10vw;
            }
    
            .linkedin {
                height: 1.5vw;
                width: 1.5vw;
                margin-left: -5vw;
                margin-right: 5vw;
                margin-top: 1.6vw;
            }
        }
    }
}

//Responsive CSS
@media only screen and (min-width: 2000px) {

    #about-me {
        color: #91C2D2;
    }

    .main-content {
        .introduction {
            margin-left: 2%;
            h2 {
                font-size: 2.75vw;
            }

            .introduction-content {
                p {
                    padding: 2%;
                    margin-top: -6vw;
                    font-size: 1.25em;
                }

                img {
                    margin-top: -8%;
                    height: 300px;
                    width: 300px;
                }
            }
        }

        .tech-skills {
            margin-top: -10%;
            margin-left: 2%;

            h2 {
                margin-top: 8%;
                font-size: 2.75vw;
            }

            .blue-alien {
                height: 6%;
                width: 6%;
                margin-left: 94%;
                margin-top: -20%;

            }

            .tech-skills-content {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: 50% 50%;

                .web-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .web-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .software-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .software-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .game-development {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .game-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .ux-ui {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.25em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .ux-ui-content {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 80% 20%;
                        width: 60%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 50px;
                            width: 50px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }
            }

            .purple-alien {
                height: 6%;
                width: 6%;
                margin-right: 85%;
                margin-top: 2%;
                margin-left: -2.4%;
            }
        }
    }


    //Footer
    .footer {
        footer {
            margin-bottom: 1%;
            .copyright {
                margin: 2% 2% 0% 2%;
            }

            p {
                margin-top: 2.8%;
                font-size: 1em;
                width: 160vw;
                margin-left: -1%;
            }

            .email {
                height: 2vw;
                width: 2vw;
                margin-top: 2vw;
                margin-left: -10vw;
            }
    
            .linkedin {
                height: 1.5vw;
                width: 1.5vw;
                margin-left: -5vw;
                margin-right: 5vw;
                margin-top: 1.6vw;
            }
        }
    }
}






//Responsive CSS
@media only screen and (min-width: 3000px) {

    #about-me {
        color: #91C2D2;
    }

    .main-content {
        .introduction {
            margin-left: 2%;
            h2 {
                font-size: 2.5vw;
            }

            .introduction-content {
                p {
                    padding: 2%;
                    margin-top: -6vw;
                    font-size: 1.25em;
                }

                img {
                    margin-top: -8%;
                    height: 300px;
                    width: 300px;
                }
            }
        }

        .tech-skills {
            margin-top: -10%;
            margin-left: 2%;

            h2 {
                margin-top: 8%;
                font-size: 2.5vw;
            }

            .blue-alien {
                height: 5%;
                width: 5%;
                margin-left: 95%;
                margin-top: -20%;

            }

            .tech-skills-content {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: 50% 50%;

                .web-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.75em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .web-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 75px;
                            width: 75px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            font-size: 1.25em;
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .software-development {
                    margin-top: -10%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.75em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .software-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 75px;
                            width: 75px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                            font-size: 1.25em;
                        }
                    }
                }

                .game-development {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.75em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .game-development-content {
                        display: grid;
                        grid-template-columns: 33% 33% 33%;
                        grid-template-rows: 80% 20%;
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 75px;
                            width: 75px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                            font-size: 1.25em;
                        }
                    }
                }

                .ux-ui {
                    margin-top: 5%;
                    margin-bottom: 10%;

                    h3 {
                        font-size: 1.75em;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    .ux-ui-content {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-template-rows: 80% 20%;
                        width: 60%;
                        margin-left: auto;
                        margin-right: auto;

                        img {
                            height: 75px;
                            width: 75px;
                            justify-self: center;
                            align-self: center;
                        }

                        h5 {
                            justify-self: center;
                            align-self: center;
                            font-size: 1.25em;
                        }
                    }
                }
            }

            .purple-alien {
                height: 5%;
                width: 5%;
                margin-right: 85%;
                margin-top: 2%;
                margin-left: -2.5%;
            }
        }
    }


    //Footer
    .footer {
        footer {
            margin-bottom: 1%;
            .copyright {
                margin: 2% 2% 0% 2%;
            }

            p {
                margin-top: 2.6%;
                font-size: 1.25em;
                width: 160vw;
                margin-left: -1%;
            }

            .email {
                height: 2vw;
                width: 2vw;
                margin-top: 2vw;
                margin-left: -7vw;
            }
    
            .linkedin {
                height: 1.5vw;
                width: 1.5vw;
                margin-left: -3vw;
                margin-right: 5vw;
                margin-top: 1.6vw;
            }
        }
    }
}



